*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.review-box{
  max-width: 400px;
  height:450px;
  background-color: #C1B3F2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
}
.review-box img{
  height:100px;
  width: 100px;
  border-radius: 100%;
  border-right:5px solid #7559D9;
  border-top:5px solid #7559D9;
  background:#7559D9;
  margin-bottom: 8px;
}
.info-box{
  padding: 0px 30px;
}
.info-box p,button{
  margin-top: 5px;
}
.icon-box{
  font-size: 22px;
  color:#7559D9;
  margin-top: 10px;
}
.icon-box span{
 margin: 5px;
}
h6,h2{
  color:#7559D9
}
button{
  padding: 8px 16px;
  background-color:#7559D9 ;
  border:2px solid #fff;
  border-radius: 5px;
  color:#fff;
  margin-bottom: 10px;
}